<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Maschup SC</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<link href="/assets/webjars/bootstrap/3.3.2/css/bootstrap.min.css"
	rel="stylesheet">
<!-- Optional theme -->
<link rel="stylesheet"
	href="/assets/webjars/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link rel="stylesheet"
	href="http://js.arcgis.com/3.13/esri/css/esri.css">
<link rel="stylesheet" href="//js.arcgis.com/3.10/js/esri/css/esri.css">
<!-- Web Framework CSS - Bootstrap (getbootstrap.com) and Bootstrap-map-js (github.com/esri/bootstrap-map-js) -->
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="//esri.github.io/bootstrap-map-js/src/css/bootstrapmap.css">
<script src="http://js.arcgis.com/3.13/"></script>
<!-- Latest compiled and minified JavaScript -->

<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.error-template {
	padding: 40px 15px;
	text-align: center;
}
</style>

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<head/>
<body>

	<!--   <div class="container">-->

	{% include "templates/header.html" %}
	 {% block body_block %}
	{%endblock%} 
	{% include "templates/footer.html" %}

	<!--  </div>/container -->
	<script type="text/javascript"
		src="/assets/webjars/jquery/2.1.3/jquery.js"></script>
	<script type="text/javascript"
		src="/assets/webjars/tinymce-jquery/4.0.16/jscripts/tiny_mce/tiny_mce.js"></script>
	<script type="text/javascript"
		src="/assets/webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>
</html>
